
.vBox-background {
    -fx-background-color: rgba(0, 102, 102, 1);
}

.retail{
    -fx-text-fill: rgba(255, 204, 51, 1);
    -fx-font-size: 30px;
}

.close-button {
    -fx-background-image: url("../images/close.png");
    -fx-background-color: rgba(0, 102, 102, 1);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75%;
    -fx-background-position: center center;
}

.close-button:hover {
    -fx-background-color: rgba(255, 255, 247, .3);
}